<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Visualizer Form</title>
</head>
<body>
    <h1>Stock Data Visualizer</h1>
    <form method="POST" action="/submit">
        <label for="symbol">Stock Symbol:</label>
        <select id="symbol" name="symbol">
            <option value="GOOGL">GOOGL</option>
            <option value="IBM">IBM</option>
        </select>
        <label for="timeseries">Time Series Function:</label>
        <select id="timeseries" name="timeseries">
            <option value="TIME_SERIES_WEEKLY">Weekly</option>
            <option value="TIME_SERIES_MONTHLY">Monthly</option>
        </select>
        <label for="chart">Chart Type:</label>
        <select name="chart" id="chart">
            <option value="Line">Line</option>
            <option value="Bar">Bar</option>
        </select>
        <label for="startdate">Start Date:</label>
        <input type="date" id="startdate" name="startdate">
        <label for="enddate">End Date:</label>
        <input type="date" id="enddate" name="enddate">
        <input type="submit" value="Submit">


    </form>
    
</body>
</html>